
body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
}
.logo img{
  width: 10vh;
  height:10vh;
}
.nav-links{
  text-decoration: none;
  font-size: x-large; 
  font-weight: bold;
  display: flex;
  list-style: none;
}
.nav-links li{
  margin-right: 20px;
}
.nav-links li:hover {
  color: #ff6347;
}
.banner {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #ffebcd;
}
.banner-image img{
  width:100vh;
  height:60vh;
}
.banner-text {
  max-width: 600px;
  padding: 20px;
}
.banner h1{
  font-size: xxx-large;
  font-style: italic;
}
.banner p{
  font-size: x-large;
  font-style: oblique;
}
.menu-section {
  text-align: center;
  padding: 50px;
}
.categories {
  display: flex;
  justify-content: space-around;
}
.category {
  padding: 10px;
  border-radius: 50%;
  background-color: #f3f3f3;
}
.top-dishes {
  padding: 50px;
}
.dishes-list {
  display: flex;
  justify-content: space-around;
}
.dish-card {
  text-align: center;
}
.download-app {
  text-align: center;
  padding: 50px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 50px;
}
.foot-links {
  text-decoration: none;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.foot-links li{
  list-style-type: none;
  margin: 0 15px;
  font-size: 18px;
  cursor: pointer;
}
.foot-links li:hover {
  color: #ff6347;
}
.btn{
  padding: 12px 24px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .hero-title {
    font-size: 32px;
  }
}
